@model Project2_Nvv_2210900081.Models.NguyenLieu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NguyenLieu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.so_luong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.so_luong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.don_vi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.don_vi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
