@model IEnumerable<Project2_Nvv_2210900081.Models.DonHang>

@{
    ViewBag.Title = "Thông tin đơn hàng";
    List<Project2_Nvv_2210900081.ModelView.DH_CT> chiTiet = ViewBag.donHangChiTiet as List<Project2_Nvv_2210900081.ModelView.DH_CT>;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ngay_dat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tong_tien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang.ten)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ngay_dat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tong_tien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang.ten)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
