@model Project2_Nvv_2210900081.Buildness.Shoppingcart
@{
    ViewBag.Title = "Index";
}

<h2>Giỏ hàng của bạn</h2>
<table class="table table-bordered">
<thead>
    <tr>
        <th>Mã</th>
        <th>Hình ảnh</th>
        <th>Sản phẩm</th>
        <th>Giá</th>
        <th>Số lượng</th>
        <th>Thành tiền</th>
        <th>Hành động</th>
    </tr>
</thead>
<tbody>
    @foreach (Project2_Nvv_2210900081.ModelView.CartItem item in Model.Items)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Image</td>
            <td>@item.Price.ToString("C")</td>
            <td>
                 <imput typeof="number" value="@item.Qty" name="qty" />
            </td>
            <td>@item.Total.ToString("C")</td>
            <td>
                <a href="javascript:vid" onclick="UpdateCartItem()">Cập nhật</a>
                @Html.ActionLink("Xóa", "RemoveFromCart", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }
</tbody>
    </table>

<h3>Tổng tiền :Model.GetTotal().ToString("C")</h3>

<a href="Cart/ThanhToan">Thanh toán</a>
